{% load static  %}


<!DOCTYPE html>
<html lang="en" xml:lang="en">
 
  <head>
    <meta charset="UTF-8" />
    <!-- Responsive Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- favicon & bookmark -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="{% static "images/shifra.png" %}"
      type="image/x-icon"
    />



        <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800"
      rel="stylesheet"
    />
    <!-- Website Title -->
    <title>Shifra</title>
  

    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main.css'  %}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" />
   
    <script src="{% static 'js/script.js' %}"></script>

     
  <style>

    #flash-messages {
      position: fixed; 
      top: 30px;
      width: 25%; 
      height:60px;
      {% comment %} background-color:rgba(0, 217, 255, 0.693); {% endcomment %}
      font-size: 17px;
      font-weight: 700;
    
      left:40%;
      {% comment %} right:70px; {% endcomment %}
     
      z-index: 1; 
      text-align:center;
      
     }

       
@media (max-width: 576px) { 
  #flash-messages {
    
    top: 30px;
    width: auto; 
    height:auto;
    {% comment %} background-color:rgba(0, 217, 255, 0.693); {% endcomment %}
    font-size: 17px;
    font-weight: 700;
   padding:20px;
    {% comment %} right:70px; {% endcomment %}
    z-index: 1; 
   left:13%;
  

  }
 }


</style>
 <style>
  .loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #eee;
  font-size: 16px;
  background-color: #ffa332;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
}
.loginBox input[type="submit"]:hover {
  background-color: #ffa332;
  color: #fff;
}

.loginBox a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="text"],
.loginBox input[type="password"] ,
.loginBox input[type="password"] ,
.loginBox input[type="text"] 
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
}

::placeholder
{
  color: rgba(255, 255, 255, 0.5);
}
.loginBox {
 

  width: 420px;
  height: 560px;
  padding: 40px 30px;
  box-sizing: border-box;
 
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 575.98px) { 
  .loginBox{
    width:93%;

  }

 }

 </style>

 
    <!-- Stylesheets End -->
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  
  
  </head>
  <body>
    {% if messages %}

    <div id="flash-messages"    style="display:block;">
   {% for message in messages %}
      <div class="alert alert-{{message.tags}}">
          {{ message }}
      </div>
  {% endfor %} 
  </div>
{% endif %}


{% comment %} {% block debug_toolbar %}
        {% if debug %}
            {% debug_toolbar %}
        {% endif %}
    {% endblock %} {% endcomment %}
    <!--Main Wrapper Start-->
    <div class="wrapper" id="top">
      <!--Header Start -->
      <header class="shadow">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 logo">
              <a href="{% url 'index'  %}" title="index"
                >
                <a href="{% url 'index'   %}" title=""
                      >
                      <h3>SHIFRA</h3>  
                    </a>
                <!-- <img
                  class="light"
                  src="images/CN.png"
                  alt="Cp diamond"
                  style="height: 12vh"
                />

                <img
                  class="dark"
                  src="images/CN.png"
                  alt="Cp diamond"
                  style="height: 12vh"
                /> -->
              </a>
            </div>
            <div class="col-sm-8 main-menu">
              <div class="menu-icon" style="margin-top:-39px;">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
              </div>
              <nav class="onepage">
                <ul >
                  <li class="active" style="color:black;"><a href="{% url 'index' %}" style="color:black;cursor:pointer;margin-left:-10px;">Home</a></li>
                  <li ><a href="{% url 'about' %}" style="color:black;cursor:pointer;margin-left:-10px;">About ico</a></li>
                  <li><a href="{% url 'token' %}" style="color:black;cursor:pointer;margin-left:-10px;">token</a></li>
                  <li><a href="{% url 'termsCondition' %}"style="color:black;cursor:pointer;margin-left:-10px;">Terms & conditions</a></li>
                  <li><a href="{% url 'mining' %}" style="color:black;cursor:pointer;margin-left:-10px;">minning</a></li>
                  <li><a href="{% url 'roadmap' %}" style="color:black;cursor:pointer;margin-left:-10px;">roadmap</a></li>
                  <!-- <li><a href="#team">team</a></li>
                  <li><a href="#press">press</a></li> -->
                  <li class="nav-btn"><a href="{% url 'login'  %}">LogIn</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!--Header End-->

      <!-- Content Section Start -->



      
        <!--About Start -->
        <div class="about-section p-tb diamond-layout" id="about">
          <div class="container mt-5">
            <div class="row">
              <div class="col-lg-5 col-md-12">
                <div class="diamond-icon">
                  <a href="#" title="">
                    <h1 style="padding-top:180px; padding-left:50px">SHIFRA</h1>  
                  </a>
                </div>
              </div>
              <div class="col-lg-7 col-md-12">
                <h2 class="section-heading">About ICO</h2>
                <h4>Why to choose Zaan Queril?</h4>
                <h5>
                    The platform gives you opportunities in both rising and falling markets and allows you to trade the most popular cryptocurrency pairs with up to 300x multiplier.

                <div class="tab-section">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs text-uppercase" role="tablist">
                    <li class="nav-item">
                      <span
                        class="nav-link active"
                        id="mission-tab"
                        data-toggle="tab"
                        href="#mission"
                        role="tab"
                        aria-controls="mission"
                        aria-selected="true"
                        >Our Mission</span
                      >
                    </li>
                    <li class="nav-item">
                      <span
                        class="nav-link"
                        id="vision-tab"
                        data-toggle="tab"
                        href="#vision"
                        role="tab"
                        aria-controls="vision"
                        aria-selected="false"
                        >Our vision</span
                      >
                    </li>
                    <li class="nav-item">
                      <span
                        class="nav-link"
                        id="guarantees-tab"
                        data-toggle="tab"
                        href="#guarantees"
                        role="tab"
                        aria-controls="guarantees"
                        aria-selected="false"
                        >Guarantees</span
                      >
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div
                      class="tab-pane active"
                      id="mission"
                      role="tabpanel"
                      aria-labelledby="mission-tab"
                    >
                      <p>
                        Inspired by the desire to make cryptocurrency trading more profitable for everyone, Zaan Queril takes the best of investment and cryptocurrency markets and offers a platform for trading via cryptocurrency futures contracts.
                      </p>
                    </div>
                    <div
                      class="tab-pane"
                      id="vision"
                      role="tabpanel"
                      aria-labelledby="vision-tab"
                    >
                      <p>
                        Make cryptocurrency trading decisions based on StormGain's trading signals. Each Buy or Sell signal has two main indicators, profitability and probability, to help you make sound decisions.
                      </p>
                      <p>
                        Trading with leverage involves using borrowed money to 'multiply' the amount
                      </p>
                    </div>
                    <div
                      class="tab-pane"
                      id="guarantees"
                      role="tabpanel"
                      aria-labelledby="guarantees-tab"
                    >
                      <ul>
                        <li>
                             Use professional technical analysis tools to increase your profitability.
                           
                           
                        </li>
                        <li>  Analyse the current market situation with charts..</li>
                        <li>
                            Low commissions.
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="button-wrapper">
                  <a class="btn" href="#">Read More</a>
                  <a class="watch-link" href="#">
                    <i class="fas fa-play"></i>
                    <span
                      ><strong>Watch video</strong>What and How it work</span
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--About end -->
        <!-- Benefits Start -->
        <div class="benefits p-tb black-bg white-sec diamond-layout">
          <div id="gold-tech-bg"></div>
          <div class="container">
            <div class="text-center">
              <h2 class="section-heading">
                <span>Benefits of Using Our Solution</span>
              </h2>
            </div>
            <div class="sub-txt mw-850 text-center">
              <p>
                The platform gives you opportunities in both rising and falling markets and allows you to trade the most popular cryptocurrency pairs with up to 300x multiplier.
              </p>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="benefit-box text-center">
                  <div class="benefit-icon">
                    <img
                      src="{% static 'images/benefit-icon-1.png'  %}"
                      alt="Safe and Secure"
                    />
                  </div>
                  <div class="text">
                    <h4>Safe and Secure</h4>
                    <p>
                        Use a unique email address and password for your account.
                        You can use a secure password manager or be sure you are creating more complex, secure passwords without fear of forgetting them.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="benefit-box text-center">
                  <div class="benefit-icon">
                    <img
                      src="{% static 'images/benefit-icon-2.png' %}"
                      alt="Instant Exchange"
                    />
                  </div>
                  <div class="text">
                    <h4>Instant Exchange</h4>
                    <p>
                        built-in wallet provides a simple way to secure, manage and exchange your funds whenever and wherever you want. All you need to do is register and deposit your assets!
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="benefit-box text-center">
                  <div class="benefit-icon">
                    <img src="{% static 'images/benefit-icon-3.png' %}" alt="World Coverage" />
                  </div>
                  <div class="text">
                    <h4>World Coverage</h4>
                    <p>
                        Combining traditional and advanced trading features, a user-friendly interface and 24/7 customer support, StormGain offers an all-in-one solution for all of your cryptocurrency trading needs.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="benefit-box text-center">
                  <div class="benefit-icon">
                    <img src="{% static 'images/benefit-icon-4.png' %}" alt="Mobile Apps" />
                  </div>
                  <div class="text">
                    <h4>Bitcoin Mining</h4>
                    <p>
                        Mining free Bitcoin is a great opportunity for those who want to add funds to their accounts for free and then trade with them. Not only is it easy to do, it doesn't drain resources from your devices,resulting in positive pays for our clients
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="benefit-box text-center">
                  <div class="benefit-icon">
                    <img src="{% static 'images/benefit-icon-5.png'  %}" alt="Strong Network" />
                  </div>
                  <div class="text">
                    <h4>Strong Network</h4>
                    <p>
                The cryptocurrency market is relatively new, and most people know nothing about it. Not so for traders, most of whom added cryptocurrency to their portfolio right away. Why? They saw another opportunity to earn money.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="benefit-box text-center">
                  <div class="benefit-icon">
                    <img src="{% static 'images/benefit-icon-6.png'   %}" alt="Margin Trading" />
                  </div>
                  <div class="text">
                    <h4>Margin Trading</h4>
                    <p>
                        Make trading decisions, test hypotheses and plan trades based on data from professional traders. The signals are based on analysis of technical indicators.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div
      
      <!-- Content Section End -->
      <div class="clear"></div>
      <!--footer Start-->
      {% comment %} <footer class="diamond-footer">
        <div class="footer-widget-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <div class="footer-logo">
                    <a href="#" title=""
                      ><img src="images/logo.png" alt="Cp Diamond"
                    /></a>
                  </div>
                  <div class="contact-info">
                    <ul>
                      <li class="email"><a href="#">hello@coinpool.com</a></li>
                      <li class="phone"><a href="#">+1 800 123 45 67</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-4 widget-area">
                <div class="widget widget-html text-center">
                  <h2 class="widget-title">Stay connected</h2>
                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://facebook.com/"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://telegram.org/"
                          ><i class="fab fa-telegram-plane"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://bitcoin.com/"
                          ><i class="fab fa-btc"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.youtube.com/"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <h2 class="widget-title">Subscribe</h2>
                  <div class="newsletter">
                    <form method="post">
                      <input
                        type="email"
                        name="Email"
                        placeholder="Your email address"
                      />
                      <button class="btn" name="subscribe">subscribe</button>
                      <label
                        ><input type="radio" name="privacy-policy" />I agree to
                        the <a href="#">Privacy Policy</a>.</label
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <ul class="footer-menu horizontal-menu onepage">
                  <li><a href="#about">About ICO</a></li>
                  <li><a href="#mission">Mission</a></li>
                  <li><a href="#token">Token</a></li>
                  <li><a href="#roadmap">Roadmap</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#press">Media</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <div class="copy-text">
                  © 2022 Coinpool. Design & Developed by
                  <a href="#">SacredThemes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer> {% endcomment %}
         <footer class="diamond-footer">
        <div class="footer-widget-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <div class="footer-logo">
                    <a href="#" title=""
                      >
                      <h3>SHIFRA</h3>  
                    </a>
                  </div>
                  <div class="contact-info">
                    <ul>
                      <li class="email"><a href="#">hello@shifra.in</a></li>
                      <h5>Our Support</h5>
                      <li class=""><a href="#"> Ind: 02269621371</a></li>
                      <li class=""><a href="#"> Us:+16823412132</a></li>
                      <li class=""><a href="#"> Canada:+12268236776</a></li>
                      <li class=""><a href="#"> Sweden:+46651863235</a></li>
                      <li class=""><a href="#"> Australia:+61361488345</a></li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-4 widget-area">
                <div class="widget widget-html text-center">
                  <h2 class="widget-title">Stay connected</h2>
                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/profile.php?id=61556471111696&mibextid=ZbWKwL"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://x.com/ZQueril?t=t2zSt5EfxkGQ5kVEI0yzoA&s=09"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/zaan.queril?igsh=MW9ja20xNmN1bG11Ng=="
                          ><i class="fab fa-instagram"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <h2 class="widget-title">Subscribe</h2>
                  <div class="newsletter">
                    <form method="post">
                      <input
                        type="email"
                        name="Email"
                        placeholder="Your email address"
                      />
                      <button class="btn" name="subscribe">subscribe</button>
                      <label
                        ><input type="radio" name="privacy-policy" />I agree to
                        the <a href="#">Privacy Policy</a>.</label
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <ul class="footer-menu horizontal-menu onepage">
                  <li><a href="#about">About ICO</a></li>
                  <li><a href="#mission">Mission</a></li>
                  <li><a href="#token">Token</a></li>
                  <li><a href="#roadmap">Roadmap</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#press">Media</a></li>
                </ul>
              </div>
              <!-- <div class="col-lg-6">
                <div class="copy-text">
                  © 2022 Coinpool. Design & Developed by
                  <a href="#">SacredThemes</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </footer>
      <!--footer end-->
    </div>
    <!--Main Wrapper End-->
 <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/onpagescroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/chart-function.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/gold-app.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        setTimeout(function () {
          jQuery(".diamond-animation").addClass("done");
        }, 6000);
        setTimeout(function () {
          jQuery(".diamond-animation .main").addClass("active");
        }, 1000);
        setTimeout(function () {
          jQuery(".inside-bitcoin").addClass("active");
        }, 3000);
        setTimeout(function () {
          jQuery(".inside-bitcoin").addClass("spincoin");
        }, 5000);
        setTimeout(function () {
          jQuery(".diamond-animation .lines").addClass("active");
        }, 6000);
        setTimeout(function () {
          jQuery(".diamond-animation .top-coin").addClass("active");
        }, 3000);
        setTimeout(function () {
          jQuery(".diamond-animation .outer-Orbit").addClass("active");
        }, 5000);
      });
    </script>
    <script>
      // Hide flash messages after 5 seconds
      setTimeout(function() {
          document.getElementById('flash-messages').style.display = 'none';
      }, 5000);
  </script>
 
<script>
  
  {% comment %} $(document).ready(function() {
    $('#user_id_input').on('blur', function() {
        var userId = $(this).val();
       // console.log(userId);
        $.ajax({
            url: '/get_member_name/',
            type:'post',
            data: {
              memberid: userId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data) {

              if(data.status===1){

                console.log(data.memberName);
                //const resmsg='<small class="form-text text-success">'+data.memberName +'</small>';
               
                $('#refMsg').html(`<span class="form-text text-success" id="inRefMsg" >${data.memberName}</span>`);

                //$('#refMsg').append(resmsg);


              }else{

                $('#refMsg').html('<span class="form-text text-danger">'+data.msg +'</span>');

              }
                
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });
}); {% endcomment %}



 
  



</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/65ec22f79131ed19d9773ed3/1hoh6h6a2';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  </body>


</html>