{% extends "zqapp/layouts/main.html" %}
{% load static %}

    
      <!--Header Start -->
    
      <!--Header End-->
{% block 'main'  %}
      <!--Header End-->

      <!-- Content Section Start -->
      <div class="midd-container">
        <!-- Hero Section Start -->
        <div
          class="hero-main diamond-layout white-sec"
          style="background: url({% static 'images/banner-4.jpg' %})"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-6">
                <div class="tab-section">
                    <!-- Nav tabs -->
                    <div class="hero-btns">
                   
                  </div>
                    
                    <!-- Tab panes -->
                    <div class="tab-content text-center">
                      <div
                        class="tab-pane active"
                        id="mission"
                        role="tabpanel"
                        aria-labelledby="mission-tab"
                      >
                      <div class="loginBox">
                      
                        <h5>Enter otp</h5>

                        <form method="POST" action="{% url 'resetOtpVerify'   %}">
                            {% csrf_token  %}
                          {% comment %} <p>OTP</p> {% endcomment %}
                          <input type="number"  id='otp'  name="otp" placeholder="" required>
                          <input type="hidden"  id='email' name="email"  value='{{email}}' placeholder="" required>
                          {% comment %} {{ form.OTP.errors  }} {% endcomment %}
                          <small class="form-text text-danger">{{ form.otp.errors }}</small>
                          {% if message %}

                            <p class="text-danger"> {{message}} </p>

                          {% endif %}
                         <input type="submit" name="otpSubmit" value="Submit">
                         
                          {% comment %} <button type='button' onclick='OTPReset(event)' >Resend OTP</button>
                           {% endcomment %}
                           <button class='text-danger' type='button' onclick='OTPReset(event)' style='border: none; background-color: transparent; color: inherit; text-decoration: underline; cursor: pointer;'>Resend OTP</button>

                        </form>
                      </div>
                      </div>
                   
                      <div
                        class="tab-pane"
                        id="guarantees"
                        role="tabpanel"
                        aria-labelledby="guarantees-tab"
                      >


                    

                      </div>
                    </div>
                  </div>
              






              </div>
              <div class="col-sm-12 col-md-6" data-wow-delay="0.5s">
                <div class="diamond-animation mobile-hidden">
                  <div class="diamond-grid"></div>
                  <div class="diamond-grid-2"></div>
                  <div class="outer-Orbit">
                    <div class="Orbit">
                      <div class="rotate">
                        <div class="OrbitSquare">
                          <div class="inner">A</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main">
                    <div class="top-coin"><span></span></div>
                    <div class="lines">
                      <span class="l-1"></span>
                      <span class="l-2"></span>
                      <span class="l-3"></span>
                      <span class="l-4"></span>
                      <span class="l-5"></span>
                      <span class="l-6"></span>
                      <span class="l-7"></span>
                      <span class="l-8"></span>
                      <span class="l-9"></span>
                      <span class="l-10"></span>
                      <span class="l-11"></span>
                      <span class="l-12"></span>
                      <span class="l-13"></span>
                      <span class="l-14"></span>
                      <span class="l-15"></span>
                    </div>
                    <div class="inside-bitcoin"></div>
                    <div class="gris2"></div>
                    <div class="square-1"></div>
                  </div>
                  <div class="base"></div>
                </div>
                <div class="mobile-visible text-center">
                  <img src="{%    static 'images/diamond-animation-mobile.png' %}" alt="" />
                </div>
                
              </div>
            </div>
          </div>
        </div>
    
<script>
  function OTPReset(event) {
 
    $.ajax({
        url: "/resend-otp/",
        type: "post",
        data: {
            otp: $("#otp").val(),
            mail: $("#email").val(),
            //types: $("#cointypes").val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (resultdata) {

            var status = resultdata.status;
            if (parseInt(status) == 1) {

                alert(resultdata.message);
                location.reload();

            

            }
            else {

                alert(resultdata.message);
               // $("#otp").val('');
            }

      
        },
        error: function (er) {
            alert("Something went wrong. Please try again later");
            $("#btnsubmit").text('Verify');
            $("#btnsubmit").removeAttr("disabled");
          
        }
    }
    );
}
</script>
      <!-- Content Section End -->
   
{% endblock 'main'  %}
