{% load static  %}


<!DOCTYPE html>
<html lang="en" xml:lang="en">
 
  <head>
    <meta charset="UTF-8" />
    <!-- Responsive Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- favicon & bookmark -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="{% static "images/shifra.png" %}"
      type="image/x-icon"
    />



        <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800"
      rel="stylesheet"
    />
    <!-- Website Title -->
    <title>Shifra</title>
  

    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'main.css'  %}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" />
   
    <script src="{% static 'js/script.js' %}"></script>

     
  <style>

    #flash-messages {
      position: fixed; 
      top: 30px;
      width: 25%; 
      height:60px;
      {% comment %} background-color:rgba(0, 217, 255, 0.693); {% endcomment %}
      font-size: 17px;
      font-weight: 700;
    
      left:40%;
      {% comment %} right:70px; {% endcomment %}
     
      z-index: 1; 
      text-align:center;
      
     }

       
@media (max-width: 576px) { 
  #flash-messages {
    
    top: 30px;
    width: auto; 
    height:auto;
    {% comment %} background-color:rgba(0, 217, 255, 0.693); {% endcomment %}
    font-size: 17px;
    font-weight: 700;
   padding:20px;
    {% comment %} right:70px; {% endcomment %}
    z-index: 1; 
   left:13%;
  

  }
 }


</style>
 <style>
  .loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #eee;
  font-size: 16px;
  background-color: #ffa332;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
}
.loginBox input[type="submit"]:hover {
  background-color: #ffa332;
  color: #fff;
}

.loginBox a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="text"],
.loginBox input[type="password"] ,
.loginBox input[type="password"] ,
.loginBox input[type="text"] 
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
}

::placeholder
{
  color: rgba(255, 255, 255, 0.5);
}
.loginBox {
 

  width: 420px;
  height: 560px;
  padding: 40px 30px;
  box-sizing: border-box;
 
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 575.98px) { 
  .loginBox{
    width:93%;

  }

 }

 </style>

 
    <!-- Stylesheets End -->
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  
  
  </head>
  <body>
    {% if messages %}

    <div id="flash-messages"    style="display:block;">
   {% for message in messages %}
      <div class="alert alert-{{message.tags}}">
          {{ message }}
      </div>
  {% endfor %} 
  </div>
{% endif %}


{% comment %} {% block debug_toolbar %}
        {% if debug %}
            {% debug_toolbar %}
        {% endif %}
    {% endblock %} {% endcomment %}
    <!--Main Wrapper Start-->
    <div class="wrapper" id="top">
      <!--Header Start -->
      <header class="shadow">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 logo">
              <a href="{% url 'index'  %}" title="index"
                >
                <a href="{% url 'index'   %}" title=""
                      >
                      <h3>SHIFRA</h3>  
                    </a>
                <!-- <img
                  class="light"
                  src="images/CN.png"
                  alt="Cp diamond"
                  style="height: 12vh"
                />

                <img
                  class="dark"
                  src="images/CN.png"
                  alt="Cp diamond"
                  style="height: 12vh"
                /> -->
              </a>
            </div>
            <div class="col-sm-8 main-menu">
              <div class="menu-icon" style="margin-top:-39px;">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
              </div>
              <nav class="onepage">
                <ul >
                  <li class="active" style="color:black;"><a href="{% url 'index' %}" style="color:black;cursor:pointer;margin-left:-10px;">Home</a></li>
                  <li ><a href="{% url 'about' %}" style="color:black;cursor:pointer;margin-left:-10px;">About ico</a></li>
                  <li><a href="{% url 'token' %}" style="color:black;cursor:pointer;margin-left:-10px;">token</a></li>
                  <li><a href="{% url 'termsCondition' %}"style="color:black;cursor:pointer;margin-left:-10px;">Terms & conditions</a></li>
                  <li><a href="{% url 'mining' %}" style="color:black;cursor:pointer;margin-left:-10px;">minning</a></li>
                  <li><a href="{% url 'roadmap' %}" style="color:black;cursor:pointer;margin-left:-10px;">roadmap</a></li>
                  <!-- <li><a href="#team">team</a></li>
                  <li><a href="#press">press</a></li> -->
                  <li class="nav-btn"><a href="{% url 'login'  %}">LogIn</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!--Header End-->

      <!-- Content Section Start -->


      <div class="midd-container">
       

        <!-- The Roadmap  start-->
        <div class="roadmap-sec p-tb diamond-layout" id="roadmap">
           <div class="container mt-5">
             <div class="text-center">
               <h2 class="section-heading">Road Map</h2>
             </div>
             <div class="sub-txt text-center">
               <p>
                 <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                 cursus tincidunt ultrices. Ut quis blandit dolor. Ut laoreet
                 sagittis arcu eu tristique. -->
               </p>
             </div>
             <div class="horizontal-roadmap owl-carousel">
               <div class="roadmap-item odd">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-1.png'   %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">Q1 2024</div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Project Startup
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item even">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-2.png'   %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q2 2024</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Initial Commitment<br/> 
                       •	Initial design<br/> 
                       •	User and profile management<br/> 
                       •	Email service
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item odd">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-3.png'  %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q3 2024</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Movie, series and documentary views<br/> 
                       •	Live streaming<br/> 
                       •	Implementation of video comments<br/> 
                       •	Video preview
         
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item even">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-4.png' %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q4 2024</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Migration to Binance (BEP20)<br/> 
                       •	Smart Contract for storage servers
                       </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item odd">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-5.png' %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q1 2025</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Messaging System<br/>
                       •	Multi-language search engine<br/>
                       •	Players with additional functionalities according to the genre of the content
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item even">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-6.png' %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q2 2025</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	URLs Refactoring<br/>
                       •	Content Management Panels<br/>
                       •	Trailers<br/>
                       •	File Caching                      
                     </p>
                   </div>
                 </div>
               </div><br/>
       
               <div class="roadmap-item odd">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-1.png' %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">Q3 2025</div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Smart Contract and Ads functionality<br/>
                       •	Pictures & screenshots in WEBM format<br/>
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item even">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-2.png'   %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q4 2025</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Public demo and Whitepaper v1<br/>
                       •	Creation of dissemination channels<br/>
                       •	Marketing campaign to attract users and content creators
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item odd">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-3.png' %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q1 2026</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	API for GRPC<br/>
                       •	Streaming scalability<br/>
                       •	Payments with TRX<br/>
                       •	Design of an interface for content producers
       
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item even">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-4.png' %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q2 2026</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Recommendation system<br/>
                       •	Integration of Google Cloud Storage with SHIFRA Network<br/>
                       •	Payments with other crypto currencies
       
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item odd">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-5.png' %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q3 2026</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Detection system for duplicate videos<br/>
                       •	In-stream advertising on Streaming
       
                     </p>
                   </div>
                 </div>
               </div>
               <div class="roadmap-item even">
                 <div class="roadmap-icon">
                   <img src="{% static 'images/timeline-icon-6.png' %}" alt="" />
                 </div>
                 <div class="roadmap-text">
                   <div class="roadmap-day">
                     <span>Q4 2026</span>
                   </div>
                   <div class="roadmap-item-text">
                     <p>
                       •	Design and marketing of Crypto Collectibles<br/><br/>
                       •	Filters for stories in Android and iOS<br/><br/><br/>
                     </p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       
         
         <!-- The Roadmap end-->
         <div id="counter" class="milestone-section p-tb c-l">
           <div class="container">
             <div class="row">
               <div class="col">
                 <div class="counter">
                   <div class="counter-icon">
                     <img src="{% static 'images/transactions-icon.png'   %}" alt="" />
                   </div>
                   <div class="counter-value" data-count="1594">0</div>
                   <h4 class="count-text">Transactions</h4>
                 </div>
               </div>
               <div class="col">
                 <div class="counter">
                   <div class="counter-icon">
                     <img src="{% static 'images/support-icon.png'   %}" alt="" />
                   </div>
                   <div class="counter-value" data-count="649">0</div>
                   <h4 class="count-text">Operator</h4>
                 </div>
               </div>
               <div class="col">
                 <div class="counter">
                   <div class="counter-icon">
                     <img src="{% static 'images/wallets-icon.png'   %}" alt="" />
                   </div>
                   <div class="counter-value" data-count="852">0</div>
                   <h4 class="count-text">Bitcoin Wallets</h4>
                 </div>
               </div>
               <div class="col">
                 <div class="counter">
                   <div class="counter-icon">
                     <img src="images/countries-icon.png" alt="" />
                     <img src="{% static 'images/countries-icon.png'   %}" alt="" />
                   </div>
                   <div class="counter-value" data-count="198">0</div>
                   <h4 class="count-text">Countries</h4>
                 </div>
               </div>
             </div>
           </div>
         </div>
       
             
            
         
       
              
             </div>
       
       
       
       
       
       
       
      
      <!-- Content Section End -->
      <div class="clear"></div>
      <!--footer Start-->
      {% comment %} <footer class="diamond-footer">
        <div class="footer-widget-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <div class="footer-logo">
                    <a href="#" title=""
                      ><img src="images/logo.png" alt="Cp Diamond"
                    /></a>
                  </div>
                  <div class="contact-info">
                    <ul>
                      <li class="email"><a href="#">hello@coinpool.com</a></li>
                      <li class="phone"><a href="#">+1 800 123 45 67</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-4 widget-area">
                <div class="widget widget-html text-center">
                  <h2 class="widget-title">Stay connected</h2>
                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://facebook.com/"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://telegram.org/"
                          ><i class="fab fa-telegram-plane"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://bitcoin.com/"
                          ><i class="fab fa-btc"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.youtube.com/"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <h2 class="widget-title">Subscribe</h2>
                  <div class="newsletter">
                    <form method="post">
                      <input
                        type="email"
                        name="Email"
                        placeholder="Your email address"
                      />
                      <button class="btn" name="subscribe">subscribe</button>
                      <label
                        ><input type="radio" name="privacy-policy" />I agree to
                        the <a href="#">Privacy Policy</a>.</label
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <ul class="footer-menu horizontal-menu onepage">
                  <li><a href="#about">About ICO</a></li>
                  <li><a href="#mission">Mission</a></li>
                  <li><a href="#token">Token</a></li>
                  <li><a href="#roadmap">Roadmap</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#press">Media</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <div class="copy-text">
                  © 2022 Coinpool. Design & Developed by
                  <a href="#">SacredThemes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer> {% endcomment %}
         <footer class="diamond-footer">
        <div class="footer-widget-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <div class="footer-logo">
                    <a href="#" title=""
                      >
                      <h3>SHIFRA</h3>  
                    </a>
                  </div>
                  <div class="contact-info">
                    <ul>
                      <li class="email"><a href="#">hello@shifra.in</a></li>
                      <h5>Our Support</h5>
                      <li class=""><a href="#"> Ind: 02269621371</a></li>
                      <li class=""><a href="#"> Us:+16823412132</a></li>
                      <li class=""><a href="#"> Canada:+12268236776</a></li>
                      <li class=""><a href="#"> Sweden:+46651863235</a></li>
                      <li class=""><a href="#"> Australia:+61361488345</a></li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-4 widget-area">
                <div class="widget widget-html text-center">
                  <h2 class="widget-title">Stay connected</h2>
                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/profile.php?id=61556471111696&mibextid=ZbWKwL"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://x.com/ZQueril?t=t2zSt5EfxkGQ5kVEI0yzoA&s=09"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/zaan.queril?igsh=MW9ja20xNmN1bG11Ng=="
                          ><i class="fab fa-instagram"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <h2 class="widget-title">Subscribe</h2>
                  <div class="newsletter">
                    <form method="post">
                      <input
                        type="email"
                        name="Email"
                        placeholder="Your email address"
                      />
                      <button class="btn" name="subscribe">subscribe</button>
                      <label
                        ><input type="radio" name="privacy-policy" />I agree to
                        the <a href="#">Privacy Policy</a>.</label
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <ul class="footer-menu horizontal-menu onepage">
                  <li><a href="#about">About ICO</a></li>
                  <li><a href="#mission">Mission</a></li>
                  <li><a href="#token">Token</a></li>
                  <li><a href="#roadmap">Roadmap</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#press">Media</a></li>
                </ul>
              </div>
              <!-- <div class="col-lg-6">
                <div class="copy-text">
                  © 2022 Coinpool. Design & Developed by
                  <a href="#">SacredThemes</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </footer>
      <!--footer end-->
    </div>
    <!--Main Wrapper End-->
 <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/onpagescroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/chart-function.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/gold-app.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        setTimeout(function () {
          jQuery(".diamond-animation").addClass("done");
        }, 6000);
        setTimeout(function () {
          jQuery(".diamond-animation .main").addClass("active");
        }, 1000);
        setTimeout(function () {
          jQuery(".inside-bitcoin").addClass("active");
        }, 3000);
        setTimeout(function () {
          jQuery(".inside-bitcoin").addClass("spincoin");
        }, 5000);
        setTimeout(function () {
          jQuery(".diamond-animation .lines").addClass("active");
        }, 6000);
        setTimeout(function () {
          jQuery(".diamond-animation .top-coin").addClass("active");
        }, 3000);
        setTimeout(function () {
          jQuery(".diamond-animation .outer-Orbit").addClass("active");
        }, 5000);
      });
    </script>
    <script>
      // Hide flash messages after 5 seconds
      setTimeout(function() {
          document.getElementById('flash-messages').style.display = 'none';
      }, 5000);
  </script>
 
<script>
  
  {% comment %} $(document).ready(function() {
    $('#user_id_input').on('blur', function() {
        var userId = $(this).val();
       // console.log(userId);
        $.ajax({
            url: '/get_member_name/',
            type:'post',
            data: {
              memberid: userId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data) {

              if(data.status===1){

                console.log(data.memberName);
                //const resmsg='<small class="form-text text-success">'+data.memberName +'</small>';
               
                $('#refMsg').html(`<span class="form-text text-success" id="inRefMsg" >${data.memberName}</span>`);

                //$('#refMsg').append(resmsg);


              }else{

                $('#refMsg').html('<span class="form-text text-danger">'+data.msg +'</span>');

              }
                
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });
}); {% endcomment %}



 
  



</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/65ec22f79131ed19d9773ed3/1hoh6h6a2';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  </body>


</html>



