<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>

    <div style="border: 5px solid blue;text-align:center" >
      <h2><span style="font-size:28px;font-weight:900;font-family:fangsong;color:#d92550;">SH</span><span style="font-size:28px;font-weight:900;font-family:fangsong;color:blue;" class="shifra">IFRA</span>
        </h2>
        <h1>Welcome to SHIFRA</h1>
        {% if name %}
        Dear {{name }},
        {% else %}
        Dear {{username }},

        {% endif %}
        
<pre>

   
    {% comment %} Dear [Customer's Name/user name], {% endcomment %}
    Thank you for choosing our mining services (machine details) at SHIFRA.we are pleased to inform you that your
    your mining machine {{activatedmachineName}} has been activated successfully.Take a look at 
    Please follow the instructions below to check the activation process:
    Access Your Account: Log in to your account on our website https://shifra.in using your
    credentials.

    Thank for being part of us
    Best regards,
    Team shifra
{% comment %} <h5>This OTP is valid for 10 minutes. <h4> {% endcomment %}

        <span>Copyright © 2023 SHIFRA!. All right reserved.<span>
    </div>

   
  </body>
</html>
