

{% extends 'zqUsers/member/layout/main.html' %}

{% load static %}
{% load customFilters %}

{% block 'addHeaderScripts' %}

<script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" rel="stylesheet">
<link href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css" rel="stylesheet">

 <style>
    @media (max-width: 575.98px) { 
#min{
    width:40vw !important;
}
#max{
    width:40vw !important;
}
 }
</style>



{% endblock %}
{% block 'content' %}
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card transaction-table" class="display">
                <div class="d-flex justify-content-between align-items-center ms-5 my-3">
                    <h3>Magical Bonus</h3>
                    <span class="badge bg-primary" style="margin-right: 20px;">Total Directs: {{ total_direct_members }}</span>
                </div>
                       <div  class="row">    
                       
                       </div>
                <div class="card-header border-0 pb-0">

                </div>
                <div class="card-body p-0">
                    <div class="table-responsive" >
                        <table border="0" cellspacing="5" cellpadding="5">
                            <tr>
                                <td>Start date:</td>
                                <td><input type="text" class="form-control" placeholder="start date"  id="min" name="min"  data-provide="datepicker"></td>
                            </tr>
                            <tr>
                                <td>End date:</td>
                                <td><input type="text"  class="form-control" placeholder="end date" id="max" name="max"  data-provide="datepicker"></td>
                            </tr>
                            </table>
                        <table class="table table-responsive-md" id="bonusTable" class="display nowrap" style="width:100%" >
                            <thead>
								{% comment %} <thead> {% endcomment %}
									<tr>
										 <th>
											Sr No
										</th> 
										 <th>
											Date
										</th> 
										<th>DirectBonus</th>
										<th>LevelBonus</th>
										<th>MagicalBonus</th>
										<th>CommunityBuildingBonus</th>
										<th>ClubBonus</th>
										<th>SocialMediaBonus</th>
										
										{% comment %} <th>status</th> {% endcomment %}
									
									</tr>
								{% comment %} </thead> {% endcomment %}
                            </thead>
                            <tbody id="bonusTableBody" class='text-center'>
                                    
                               
                                {% comment %} {% for inv in allTrans %} {% endcomment %}
								{% for index,income in data %}
                                <tr >
                                    <td>
                                        {% comment %} <svg class="arrow svg-main-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <rect fill="#fff" opacity="0.3" transform="translate(11.646447, 12.853553) rotate(-315.000000) translate(-11.646447, -12.853553)" x="10.6464466" y="5.85355339" width="2" height="14" rx="1" />
                                                <path d="M8.1109127,8.90380592 C7.55862795,8.90380592 7.1109127,8.45609067 7.1109127,7.90380592 C7.1109127,7.35152117 7.55862795,6.90380592 8.1109127,6.90380592 L16.5961941,6.90380592 C17.1315855,6.90380592 17.5719943,7.32548256 17.5952502,7.8603687 L17.9488036,15.9920967 C17.9727933,16.5438602 17.5449482,17.0106003 16.9931847,17.0345901 C16.4414212,17.0585798 15.974681,16.6307346 15.9506913,16.0789711 L15.6387276,8.90380592 L8.1109127,8.90380592 Z" fill="#fff" fill-rule="nonzero" />
                                            </g>
                                        </svg> {% endcomment %}
                                        {{index|add:1}}
                                    </td>
									{% comment %} <td>{{ income.date|date:'YYYY-MM-D' }}</td> {% endcomment %}
                                    <td>{{ income.date }}</td>

                                    {% comment %} <td>{{ income.date }}</td> {% endcomment %}

									<td>${{income.direct_income|floatformat:2 }}</td>
									{% comment %} <td>{{ user.joindate }}</td> {% endcomment %}
									<td>${{ income.level_income|floatformat:2 }}</td>
									<td>${{ income.magic_income|floatformat:2 }}</td>
									{% comment %} <td>{{ level }}</td> {% endcomment %}
									<td>${{ income.community_building_income|floatformat:2 }}</td>
									<td>${{ income.club_income|floatformat:2 }}</td>
									<td>${{ income.social_income|floatformat:2 }}</td>
									

                                </tr>
                                {% endfor %} 

                            </tbody>
                            {% comment %} <tfoot>
                                
                                <tr>
                                    <th></th>
                                    <td ><strong>Total</strong></td>
                                    <td></td>
                                    <td ></td>
                                    
                                    <td><strong>${{ total|floatformat:2 }}</strong></td>
                                </tr>
                               
                            </tfoot> {% endcomment %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Magic Bonus</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">
                <div class="table-responsive" >
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                
                                <th>Recived Date</th>
                                <th>Recived From</th>
                              
                                <th>Bonus($)</th>
                                <th>Level</th>
                              
                                <th class="text-end">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                    
                            
                            {% comment %} {% with allTrans=request.user.magicalIncome_intros.all %} {% endcomment %}
                            {% for inv in  allTrans   %}
                            <tr>
                                <td>
                                    <svg class="arrow svg-main-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                            <rect fill="#fff" opacity="0.3" transform="translate(11.646447, 12.853553) rotate(-315.000000) translate(-11.646447, -12.853553) " x="10.6464466" y="5.85355339" width="2" height="14" rx="1"/>
                                            <path d="M8.1109127,8.90380592 C7.55862795,8.90380592 7.1109127,8.45609067 7.1109127,7.90380592 C7.1109127,7.35152117 7.55862795,6.90380592 8.1109127,6.90380592 L16.5961941,6.90380592 C17.1315855,6.90380592 17.5719943,7.32548256 17.5952502,7.8603687 L17.9488036,15.9920967 C17.9727933,16.5438602 17.5449482,17.0106003 16.9931847,17.0345901 C16.4414212,17.0585798 15.974681,16.6307346 15.9506913,16.0789711 L15.6387276,8.90380592 L8.1109127,8.90380592 Z" fill="#fff" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </td>
                    
                                <td>{{inv.last_paid_date}}</td>
                           
                                
                                <td>{{inv.social_job_id.assigned_to.username}}</td>
                                <td>+${{inv.rs|floatformat:2}}</td>
                                <td>{{inv.position}}</td>
                                <td  class="text-end"><div class="badge badge-sm badge-success">COMPLETED</div></td>
                            </tr>
                            {% endfor %}
                    
                    
                        </tbody>
                    </table>
                    
                    
                    </div>
                <!-- Content will be loaded here -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block 'addFooterScripts' %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>
<script>
    $(document).ready(function() {
        var minDate, maxDate;
        
        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
            var min = minDate.val();
            var max = maxDate.val();
            var date = moment(data[1], 'YYYY-MM-DD').toDate();
            
            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });
        
        // Create date inputs
        minDate = new DateTime('#min', {
            format: 'MMMM Do YYYY'
        });
        maxDate = new DateTime('#max', {
            format: 'MMMM Do YYYY'
        });
        
        // DataTables initialisation
        var table = $('#bonusTable').DataTable({
            'paging': false
        });
        
        // Refilter the table
        $('#min, #max').on('change', function() {
            table.draw();
        });
    });
</script>






    {% endblock %}
