

{% extends 'zqUsers/member/layout/main.html' %}

{% load static %}
{% load customFilters %}


{% block 'content' %}


            <!-- container starts -->
            <div class="container-fluid">
                <!-- row -->
				
				{% comment %} <div class="element-area">
					<div class="demo-view">
						<div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
							<!-- Column Starts -->
							<div class="col-xl-12">
								<div class="card dz-card" id="accordion-one">
									<div class="card-header flex-wrap border-0">
										<h3>Change Password</h3>
										
									</div>
									<div class="">
										<div class="row mt-2">
											<div class="col-md-3 "></div>
											<div class="col-md-6 col-md-offset-4">
											<form method="post">
												{% csrf_token %}
											  <div class="form-group">
												{{ form.old_password.errors }}
                                                <div class="mb-3">
                                                    <label class="text-label form-label">Current Password</label>
                                                    {{ form.old_password }}
												</div>
										  </div>
										
											</div>
											<div class="col-md-3 "></div>
									</div>
									
										<div class="row mt-2">
											<div class="col-md-3 "></div>
											<div class="col-md-6 col-md-offset-4">
										
											  <div class="form-group">
												{{ form.new_password1.errors }}
                                                <div class="mb-3">
                                                    <label class="text-label form-label">New Password</label>
                                                    {{ form.new_password1 }}
                                                </div>
										
										  </div>
											</div>
											<div class="col-md-3 "></div>
									</div>
									
									<div class="row mt-3">
										<div class="col-md-3 "></div>
										<div class="col-md-6 col-md-offset-4">
										  <div class="form-group">
											{{ form.new_password2.errors }}
											<div class="mb-3">
												<label class="text-label form-label">Confirm Password</label>
												{{ form.new_password2 }}
											</div>
									
									  </div>
										
										</div>
										<div class="col-md-3 "></div>
									</div>
									<div class="row">
										<div class="col-md-4 "></div>
										 <div class="col-md-4 ">
									<button class="btn-lg mb-2 btn btn-primary btngenrate btn-lg mt-4" type="submit">Change</button></div>
									<div class="col-md-4 "></div>
									</div>
									</div>
								</form>
									
								</div>
							</div>
						</div>
					</div>
						
					</div>
				
				</div> {% endcomment %}
				<div class="col-xl-12 col-lg-12">
					<div class="row" >
						<div class="col-xl-12">
							<div class="card p-5">
								
								<div class="col-xl-12">
									<div class="card dz-card" id="accordion-one">
										<div class="card-header flex-wrap border-0">
											<h3>Change Password</h3>
											
										</div>
										<div class="">
											<div class="row mt-2">
												<div class="col-md-3 "></div>
												<div class="col-md-6 col-md-offset-4">
												<form method="post">
													{% csrf_token %}
												  <div class="form-group">
													{{ form.old_password.errors }}
													<div class="mb-3">
														<label class="text-label form-label">Current Password</label>
														{{ form.old_password }}
													</div>
											  </div>
											
												</div>
												<div class="col-md-3 "></div>
										</div>
										
											<div class="row mt-2">
												<div class="col-md-3 "></div>
												<div class="col-md-6 col-md-offset-4">
											
												  <div class="form-group">
													{{ form.new_password1.errors }}
													<div class="mb-3">
														<label class="text-label form-label">New Password</label>
														{{ form.new_password1 }}
													</div>
											
											  </div>
												</div>
												<div class="col-md-3 "></div>
										</div>
										
										<div class="row mt-3">
											<div class="col-md-3 "></div>
											<div class="col-md-6 col-md-offset-4">
											  <div class="form-group">
												{{ form.new_password2.errors }}
												<div class="mb-3">
													<label class="text-label form-label">Confirm Password</label>
													{{ form.new_password2 }}
												</div>
										
										  </div>
											
											</div>
											<div class="col-md-3 "></div>
										</div>
										<div class="row">
											<div class="col-md-4 "></div>
											 <div class="col-md-4 ">
										<button class="btn-lg mb-2 btn btn-primary btngenrate btn-lg mt-4" type="submit">Change</button></div>
										<div class="col-md-4 "></div>
										</div>
										</div>
									</form>
										
									</div>
								</div>
								
						</div>
						
					</div>
				</div>
            </div>
            
        <!--**********************************
                Content body end
            ***********************************-->


        <!--**********************************
       ******************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->

	{% endblock %}

	{% block 'addFooterScripts' %}


	<script src="{% static 'surveyapp/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'surveyapp/js/highlight.min.js' %}"></script>


	<script>hljs.highlightAll();</script>


{% endblock %}
