{% extends 'zqUsers/member/layout/main.html' %}

{% load static %}
{% load customFilters %}


{% block 'content' %}
<div class="container-fluid"style="">
    <div class="row" >

        <div class="col-xl-12 col-lg-12">
            <div class="row" >
                <div class="col-xl-12">
                    <div class="card p-5">
               

                        <div class="row ">
                            <div class="col-md-2 mt-4"> 
                                <h3 style="color:black;" class="mt-1">Activate Peer Account</h3>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-6">
                       
                            <div class="input-group mt-4"> 
                            <div class="input-group-prepend"></div>
                          
                            <input placeholder="Enter username" type="text" id="memberId"  class="form-control" ></div>
                            <!-- <input placeholder="Paste Your Txn hase code" type="number" id="amount" value="55" class="form-control" readonly></div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            <div class="input-group mt-4"> 
                            <div class="input-group-prepend"></div>
                            <select id="packageSelect" class="form-control" onchange="checkPackageBalance()">
                                {% comment %} {% for package in allPs %} {% endcomment %}

                                <option value="11">11 $</option>
                                {% comment %} {% endfor %} {% endcomment %}
                                {% comment %} <option value="55">55$</option>
                                <option value="550">550$</option>
                                <option value="1100">1100$</option>
                                <option value="2750">2750$</option> {% endcomment %}
                            </select>
                            <!-- <input placeholder="Enter username" type="text" id="memberId"  class="form-control" ></div> -->
                            {% comment %} <input placeholder="Paste Your Txn hase code" type="number" id="amount" value="55" class="form-control" readonly></div> {% endcomment %}
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            <div class="input-group mt-4"> 
                            <!-- <div class="input-group-prepend"></div> -->
                            <div class="input-group-prepend">
                                <!-- <span class="input-group-text">Username</span> -->
                            </div>
                          
                            <!-- <input placeholder="Enter username" type="text" id="memberId"  class="form-control" ></div> -->
                            <input placeholder="Enter OTP" type="number" id="entOTP" class="form-control" style="display: none;" ></div>
                            <small id="entOTPMsgs" class="text-danger"></small>
                            <!-- <small id="entOTPErrors" class="text"></small> -->
                            </div>


                        </div>



                            <div class="col-md-3 text-center mt-4">

                                {% if request.user.totalWalletBalance >= 55 %}
                                <button class="btn-wide btn btn-success btngenrate " id="sendOTPBtn" onclick="sendOTP()">send OTP</button>
                                <button class="btn-wide btn btn-success btngenrate " id="ActivateId" onclick="ActivateUserId()" style="display: none;">Activate Id</button>
                                {% else %}
                                <!-- <button class="btn-wide btn btn-primary btngenrate"  disabled>Activate Id</button></br> -->
                                <button class="btn-wide btn btn-success btngenrate " id="sendOTPBtn"  disabled>send OTP</button>
                                <button class="btn-wide btn btn-primary btngenrate" style="display: none;"  disabled>Activate Id</button></br>
                                <span class="text-danger mt-4"style="font-size:12px;">Insufficient wallet Balance</span>
                                {% endif %}
                            </div>
                            
                            
                        </div>
                </div>
                
            </div>
        </div>
        
    </div>


  
    <div class="col-lg-12">
        <div class="card transaction-table">
            <div class="card-header border-0 flex-wrap pb-0">
                <div class="mb-2">
                    <h4 class="card-title">All Accounts Activated by Member</h4>
                    <p class="mb-sm-3 mb-0"></p>
                </div>
              
            </div>

           
            <div class="card-body p-0">
                <div class="tab-content" id="myTabContent1">
                    <div class="tab-pane fade show active" id="Week" role="tabpanel" aria-labelledby="Week-tab">
                        <div class="table-responsive">
                            <table class="table table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>Package($)</th>
                                        <th>Member</th>
                                       
                                        <th>Activated By</th>
                                        <th>Activation Date</th>
                                        {% comment %} <th class="text-end">Status</th> {% endcomment %}
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    {% with allInvs=request.user.activatedbytopup_member.all %}
                                    {% if allInvs.count > 0 %}
                                    {% for inv in  allInvs %}
                                    {% if inv.txn_by.username != inv.activated_by.username   %}
                                      
                                    

                                    <tr>
                         
                                        <td>
                                            <svg class="arrow style-2 svg-main-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                                    <rect fill="#fff" opacity="0.3" transform="translate(11.646447, 12.853553) rotate(-315.000000) translate(-11.646447, -12.853553) " x="10.6464466" y="5.85355339" width="2" height="14" rx="1"/>
                                                    <path d="M8.1109127,8.90380592 C7.55862795,8.90380592 7.1109127,8.45609067 7.1109127,7.90380592 C7.1109127,7.35152117 7.55862795,6.90380592 8.1109127,6.90380592 L16.5961941,6.90380592 C17.1315855,6.90380592 17.5719943,7.32548256 17.5952502,7.8603687 L17.9488036,15.9920967 C17.9727933,16.5438602 17.5449482,17.0106003 16.9931847,17.0345901 C16.4414212,17.0585798 15.974681,16.6307346 15.9506913,16.0789711 L15.6387276,8.90380592 L8.1109127,8.90380592 Z" fill="#fff" fill-rule="nonzero"/>
                                                </g>
                                            </svg>
                                        </td>
                                       
                                        
                                        <td>{{inv.amount}}</td>
                                        {% comment %} <td>{{ request.user.investmentwallet_member.all.count}}</td> {% endcomment %}
                                        {% comment %} <td><div class="d-flex align-items-center"><img src="images/avatar/1.jpg" class=" me-2" width="30" alt=""> <span class="w-space-no">{{inv.cointype}}</span></div></td> {% endcomment %}
                                        <td> {{inv.txn_by.username}}</td>
                                        <td> {{inv.activated_by.username}}</td>
                                        <td> {{inv.txn_date}}</td>
                                        {% comment %} <td><div class="d-flex align-items-center"><img src="images/svg/btc.svg" alt="" class="me-2 img-btc">{{inv.coinvalue}}</div></td>
                                        <td class="text-success font-w600">{{inv.amivolume}}</td>
                                        <td>{{inv.hashtrxn}}</td> {% endcomment %}
                                        {% comment %} <td>{{inv.trxndate}}</td> {% endcomment %}
                                        {% comment %} <td  class="text-end"><div class="badge badge-sm badge-success">Active</div></td> {% endcomment %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}

                         

                                </tbody>
                            </table>
                        </div>
                    </div>




                </div>
            </div>

        </div>
    </div>

</div>



{% endblock  %}


{% block 'addFooterScripts' %}





<script>
    function checkPackageBalance() {
        const totalWalletBalance = parseFloat(`{{ request.user.totalWalletBalance }}`);
        const selectedPackage = parseFloat(document.getElementById('packageSelect').value);
    
        const sendOTPBtn = document.getElementById('sendOTPBtn');
        const activateIdBtn = document.getElementById('ActivateId');
    
        if (selectedPackage > totalWalletBalance) {
            sendOTPBtn.disabled = true;
            activateIdBtn.disabled = true;
        } else {
            sendOTPBtn.disabled = false;
            activateIdBtn.disabled = false;
        }
    }


function sendOTP() {

// console.log("came here");

const totalWalletBalance = parseFloat(`{{ request.user.totalWalletBalance }}`);

 bt = $(`#sendOTPBtn`);
 bt.attr("disabled", "").html("<i class='fa fa-spin fa-spinner'></i>&nbsp;&nbsp;Please wait...");

const amount = parseFloat($('#packageSelect').val());
 const username = $('#memberId').val();


 if (isNaN(amount) || !(amount <= totalWalletBalance)) {
     alert("Insufficient Wallet Balance");
     location.reload();
     return;  // Exit the function early
 }


 fetch('{% url 'peerActivationNew' %}', {
     method: 'POST',
     headers: {
         'Content-Type': 'application/json',
         //'X-CSRFToken': getCookie('csrftoken')
         'X-CSRFToken': `{{csrf_token}}`
     },
     body: JSON.stringify({Package:amount,Username:username,type:'sendOTP' })
 })
 .then(response => response.json())
 .then(data => {
     if (data.status) {

        $(`#entOTPMsgs`).html('enter otp sent to your email');
       // $(`#entOTP`).html('enter otp sent to your email');
        $('#entOTP').css('display', 'block');
        $('#sendOTPBtn').css('display', 'none');
        $('#ActivateId').css('display', 'block');
        // alert(data.msg);
        // location.reload(); // Reload the page
     } else {
         alert(data.msg);
         location.reload();
     }
 })
 .catch(error => {
     console.error('Error:', error);
 });
}






    function ActivateUserId() {

       // console.log("came here");

       const totalWalletBalance = parseFloat(`{{ request.user.totalWalletBalance }}`);

        bt = $(`#ActivateId`);
        bt.attr("disabled", "").html("<i class='fa fa-spin fa-spinner'></i>&nbsp;&nbsp;Please wait...");

        const amount = parseFloat($('#packageSelect').val());
        const username = $('#memberId').val();
        const entOTPByUser = $('#entOTP').val();

       // console.log(amount,username);

        if (isNaN(amount) || !(amount <= totalWalletBalance)) {
            alert("Insufficient Wallet Balance");
            location.reload();
            return;  // Exit the function early
        }


        console.log("======came here");
        fetch('{% url 'peerActivationNew' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                //'X-CSRFToken': getCookie('csrftoken')
                'X-CSRFToken': `{{csrf_token}}`
            },
            body: JSON.stringify({Package:amount,Username:username,type:'activateId',otp:entOTPByUser })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status) {
                alert(data.msg);
                location.reload(); // Reload the page
            } else {
                alert(data.msg);
                location.reload();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }



</script> 
	 

{% endblock %}



