{% extends 'zqUsers/admin/layout/main.html' %} {% block 'content' %}

<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="pe-7s-drawer fa fa-globe icon-gradient bg-mean-fruit">
            </i>
          </div>
          <div>
            Hello! DK Deep Welcome to ZaanQueril
            <div class="page-title-subheading">
              https://swissburg.uk/home/_registration?refferalid=dkdeep786@gmail.com
              &nbsp;&nbsp;&nbsp;&nbsp;<button
                class="btn-wide mb-2 mr-2 btn btn-primary btngenrate btn-lg disabled mt-1"
              >
                Copy Refferal
              </button>
            </div>
          </div>
        </div>
        <div class="page-title-actions">
          <button
            type="button"
            data-toggle="tooltip"
            title="Example Tooltip"
            data-placement="bottom"
            class="btn-shadow mr-3 btn btn-dark"
          >
            <i class="fa fa-star"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-3 pb-3 widget-content bg-midnight-bloom">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Share Afflicate Link</div>
              <div class="widget-subheading">
                <span style="font-size: 12px"
                  >https://flyingbird.online/Home/Registration?sponsor=fb32505</span
                >
              </div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-4 pb-4 widget-content bg-arielle-smile">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Activation date</div>
              <div class="widget-subheading">
                17:57:07
                <div class="widget-subheading"></div>
              </div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white">
                <span style="font-size: 15px">14/02/2024</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-4 pb-4 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Expire Date</div>
              <div class="widget-subheading">17:57:07</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white">
                <span style="font-size: 15px">14/08/2024</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-4 pb-4 widget-content bg-happy-itmeo">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Sponsor Profit</div>
              <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>$0</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-4 pb-4 widget-content bg-strong-bliss">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Trading Profit</div>
              <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>$ 4.11</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-4 pb-4 widget-content bg-sunny-morning">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Total Bonus</div>
              <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>$4.11</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-4 pb-4 widget-content bg-ripe-malin">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Total Orders</div>
              <div class="widget-subheading">Last year expenses</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>1896</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-4 pb-4 widget-content bg-deep-blue">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Paid Bonus</div>
              <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>$ 0</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-premium-dark">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Credit Wallet</div>
              <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-warning"><span>$0</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 pt-4 pb-4 widget-content bg-midnight-bloom">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Income Wallet</div>
              <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>$ 4.11</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
