<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <script type='text/javascript' src='http://swissburg.uk/Content/Home/js/displayHide.js'></script>
    <style>
        .imgbac {
            background: url(http://swissburg.uk/Content/banner1.png) no-repeat;
            -webkit-background-size: 84%;
            -moz-background-size: 84%;
            -o-background-size: 84%;
            background-size: 84%;
            -webkit-background-position: center;
            -moz-background-position: center;
            -o-background-position: center;
            background-position: center;
        }
    </style>
</head>
<body id='menu' style='color:black; pointer-events: none;'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm col-md col-12 imgbac'>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
    <div class='container' style='max-width: 69%;margin-left: 12%;'>
        <div class='row'>
            <div class='col-sm col-md col-12' style='margin:-5% auto 5% auto;padding:0% 1% 4% 1%;text-align: justify;margin-top: -10%;'>
                <h1>Dear Member,</h1>
                <br />
                <p style='font-family:Arial;font-weight: 600;'>Congratulations, you have successfully Top up  your Zaan Queril account with {{withdrawal_Amt}} SBG Coins. </p>
                <br />
                <p><b>Top up amount :</b> <span>{{withdrawal_Amt}}   SBG Coins</span></p>
                <p><b>Top up mode :</b> <span> Self</span></p>
                <p><b>Top up status :</b> <span> Confirmed</span></p>
                <br/><br/>
                <span>Warm Regards,</span><br/>
                <span>Team Zaan Queril</span>
            </div>
            <br> 
            <center>
                <img src='http://swissburg.uk/Content/Home/icon/android-os.png' style='height: 30px;'/>
                &nbsp;&nbsp;
                <img src='http://swissburg.uk/Content/Home/icon/apple-logo.png' style='height: 30px;'/>
            </center>
            <br>
            <center>
                <span style='font-family:Arial;color:#4c4949;font-size: 15px;'>Copyright © 2023 ZAAN QUERIL!. All right reserved.</span><br/>
            </center>
            <br><br>
