{% extends 'zqAdmin/admin/layout/main.html' %} 
{% load customFilters  %}

{% block 'content' %}
    <div class="app-main__outer" >
        <div class="app-main__inner" style="background-color: rgba(255, 255, 255, 0.775);">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                            </i>
                        </div>
                        <div>
                          Block Member's Id
                            {% comment %} <div class="page-title-subheading">YThis .</div> {% endcomment %}
                        </div>
                    </div>
                    <div class="page-title-actions">
                        {% comment %} <button type="button"
                                data-toggle="tooltip"
                                title="Example Tooltip"
                                data-placement="bottom"
                                class="btn-shadow mr-3 btn btn-dark">
                            <i class="fa fa-star"></i>
                        </button> {% endcomment %}
                        <div class="d-inline-block dropdown">
                            {% comment %} <button type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    class="btn-shadow dropdown-toggle btn btn-info">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-business-time fa-w-20"></i>
                                </span>
                                Buttons
                            </button> {% endcomment %}
                            {% comment %} <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <i class="nav-link-icon lnr-inbox"></i>
                                            <span>Inbox</span>
                                            <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <i class="nav-link-icon lnr-book"></i>
                                            <span>Book</span>
                                            <div class="ml-auto badge badge-pill badge-danger">5</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <i class="nav-link-icon lnr-picture"></i>
                                            <span>Picture</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a disabled href="javascript:void(0);" class="nav-link disabled">
                                            <i class="nav-link-icon lnr-file-empty"></i>
                                            <span>File Disabled</span>
                                        </a>
                                    </li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class=" p-5 shadow" >
                {% comment %} <h6 style="font-weight: 600;color: red;text-align: center;">
                    BALANCE : <span style="color: green">&nbsp;{{ totalamount }} (Zaan COIN)/${% mul totalamount   ZQLRate   %}(USDT)</span>
                </h6> {% endcomment %}
                {% comment %} <input type="hidden" id="useremail" value="" /> {% endcomment %}
                <div class="row mt-3">
                
                        <div class="col-md-4 text-center mt-2">
                            <input type="hidden"  value="" id="totalamnt" />
                            {% comment %} <div class="col-md-4 text-center mt-2"> {% endcomment %}
                                <h6 class="mt-4" style="font-weight: 600;">Enter MemberID</h6>
                        </div>

                        <div class="col-md-5">
                            <div class="input-group mt-4">
                                <div class="input-group-prepend"></div>
                                <input type="text"
                                id="memId"
                                class="form-control"
                                value=""
                                
                                placeholder="enter memberid ">
                                {% comment %} <input placeholder="Enter ZQL Coin"
                                       type="number"
                                       class="form-control"
                                       id="amount"> {% endcomment %}
                            </div>
                        </div>
                        {% comment %} <div class="col-md-5">
                            <div class="input-group mt-4">
                                <div class="input-group-prepend"></div>
                                <input placeholder="Enter Coin" type="number" class="form-control">
                            </div>
                        </div> {% endcomment %}
                </div>
                   


                    <div class="row">
                        <div class="col-md-5"></div>
                         <div class="col-md-2" id="sendOTPBtn"> 
                           

                    <button class="mb-2 mt-5 mr-2 btn-primary text-center  btn-sm btn-block justify-content-center d-flex align-item-center "
                            style=" justify-content:center;"
                            
                            onclick="blockMemId()" id="blockMemId">Block Member Withdrawal</button>

                    
                    </div>
                        
                    <div class="col-md-5"></div>
                </div>
                    {% comment %} <button class="mb-2 mr-2 btn btn-outline-primary btn-lg btn-block" id="btnsubmit" onclick="sendotphere()" style="letter-spacing: 1px; font-size: 15px;">Send OTP</button> {% endcomment %}
                </div>
               

                {% comment %} <div class="card-body" id="tblotp" style="display: none">
                    <div class="row mb-4">
                        <div class="col-sm-2 text-center ml-5 mt-4 ">
                            <h5 class="card-title pt-2">Enter OTP here </h5>
                        </div>
                        <div class="col-sm-6 mt-4">
                
                            <div class="input-group">
                                <input type="text" class="form-control" id="otp" value="" placeholder="Enter OTP">
                                <div class="input-group-append">
                                </div>
                            </div>
                            <br />
                            <span id="otptxt" style="color: red;"></span>
                        </div>
                        <div class="col-sm-3 mt-4 pt-2">
                            <a href="" id="btrenotp" onclick="resendotp()" style="display: none;"><span>Resend OTP</span></a>
                
                        </div>
                
                    </div>
                    <div class="row">
                        <div class="col-md-11 text-center ml-5 mt-4 mb-5 ">
                
                            <button class="mb-2 mr-2 btn btn-outline-primary btn-lg btn-block" id="btnotp" onclick="confirmedotp()" style="letter-spacing: 1px; font-size: 15px;">Proceed</button>
                        </div>
                    </div>
                </div> {% endcomment %}
           
           
           
            </div>
            <div class="row shadow"style="overflow-x:auto; height:auto;">
                <div class="col-lg-12">
                    <div class="main-card mb-3 ">
                        <div class="">
                            <table id="myTable"  class="display" >
                                <thead>
                                    <tr>
                                       <th>Sr No.</th>
                                        <th>MemberId.</th>
                                        {% comment %} <th>Full Name</th> {% endcomment %}
                                        <th>Username</th>
                                        <th>IntroducerID</th>
                                        {% comment %} <th>Introducer Name</th> {% endcomment %}
                                        <th>email</th>
                                        <th>Registration date</th>
                                        <th>Activation date</th>
                                        <th>Total Wallet Balance</th>
                                        {% comment %} <th>Withdrawable Balance</th>
                                        <th>Withdrawable Balance(INR)</th>
                                        <th>Total Admin Withdrawals($)</th>
                                        <th>Total Direct Income(INR)</th>
                                        <th>Total Level Income(INR)</th> {% endcomment %}
                                        <th>Total Investments</th>
                                        <th>unblockwithdrawal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if allBlockedmems %}
                                    {% for index,item in allBlockedmems %}
                                        <tr>
                                            <th scope="row">{{ index|add:1 }}</th>
                                            <td>{{ item.memberid }}</td>
                                            {% comment %} <td>{{ item.first_name }}</td> {% endcomment %}
                                           
                                            <td>{{item.username}}</td>
                                            <td>{{item.introducerid}}</td>

                                            {% comment %} <td>{{item.introducerid.first_name}}</td> {% endcomment %}
                                            <td>{{item.email}}</td>
                                            <td>{{item.date_joined}}</td>
                                            <td>{{item.activationdate}}</td>
                                            
                                            <td {% if item.totalWalletBalance < 0  %} class="text-danger" {% endif %}>{{ item.totalWalletBalance }}(USDT)</td>
                                           
                                            {% comment %} <td  {% if item.totalWithdrawalableBalance < 0  %} class="text-danger" {% endif %}>{{ item.totalWithdrawalableBalance }}(USDT)</td>
                                         
                                            <td>{% mul item.totalWithdrawalableBalance USDRate %}(INR)</td>
                                            <td>{{ item.totalAdminWithdrawals }}</td>
                                            <td>{{ item.totalDirectIncome  }}</td>
                                            <td>{{ item.totalLevelIncome  }}</td> {% endcomment %}
                                            {% comment %} <td>{%  item.totalLevelIncome  %}</td> {% endcomment %}
                                            {% comment %} <td>{{item.totalInvestments }}(ZAAN)</td> {% endcomment %}
                                            <td>{{item.totalInvestments }}(USDT)</td>
                                            {% comment %} <th>Login</th> {% endcomment %}
                                            {% comment %} <td>{{ item.approved_date }}</td> {% endcomment %}
                                            
                                          
                                            <td><button onclick="unblockwithdrawal('{{item.id}}')" id='unbwd' class="btn-wide mb-2 mr-2 btn btn-success btngenrate btn-lg disabled mt-4">Unblock Withdarwal</button></td> 
                                            {% comment %} <td><button onclick="loginmem('{{item.memberid}}')" class="btn-wide mb-2 mr-2 btn btn-success btngenrate btn-lg disabled mt-4">Login</button></td>  {% endcomment %}
                                        </tr>
                                    {% endfor %}

                                    {% endif %}
                                {% comment %} {% endif %} {% endcomment %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


         
  
        </div>
      
    </div>


{% endblock %}



{% block 'footerScripts' %}



<script>


    $(document).ready(function() {
        $('#myTable').DataTable();
    });


{% comment %}         
    $(document).ready(function() {
        $('#myTable').DataTable();
    }); {% endcomment %}

    

function blockMemId()  {
        //debugger;
        //var email = $("#email").val();
        var memId = $("#memId").val();

        memberConf=confirm(`are you sure you want to block ${memId}`);

      

        if (memberConf && memId!="" ) {

            $("#blockMemId").text('Please wait...');
            $("#blockMemId").attr("disabled", "disabled");
          

            $.ajax({
                url: "{% url 'blockMemberWithdrawal' %}",
                type: "post",
                data: {
                    {% comment %} amount: amount, {% endcomment %}
                    memberId: memId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (resultdata) {
                    var status = resultdata.status;
                    if (parseInt(status) == 1) {
                        {% comment %} $("#otpDIV").css("display", "block"); {% endcomment %}
                        {% comment %} $("#sendOTPBtn").css("display", "none"); {% endcomment %}
                        {% comment %} $("#activateMemberIdBtn").css("display", "block"); {% endcomment %}

                        /*
                        $("#tblotp").css("display", "block");
                        $("#otptxt").text('Your OTP will expire within 5 minutes.');
                        */
                        alert(resultdata.msg);
                        location.reload();
                        //setTimeout(showresendotp, 300000);
                    }
                    else {
                        /**/
                        //$("#email").val('');
                        //$("#amount").val('');
                        //$("#btnsubmit").text('Proceed');
                        //$("#btnsubmit").removeAttr("disabled");
                        alert(resultdata.msg);

                    }

                },
                error: function (er) {
                    alert("Something went wrong. Please try again later");
                   // $("#btnsubmit").text('Proceed');
                   // $("#btnsubmit").removeAttr("disabled");
                   alert(resultdata.msg);

                }
            });
        }
        

}


    
    function activateMemberId()  {
        //debugger;
        //var email = $("#email").val();
        var amount = $("#amount").val();
        var memId = $("#memId").val();
        var entOTP = $("#entOTP").val();

        //console.log(amount,memId);
        //amount=parseFloat(amount)/(ZQLRate);
        //var volumes = $("#totalamnt").val();
        //var useremail = $("#useremail").val();

        if (memId!="" && entOTP!="" && parseFloat(amount) > parseFloat(0)) {

            //$("#btnsubmit").text('Please wait...');
            //$("#btnsubmit").attr("disabled", "disabled");
           // amount=parseFloat(amount)/({{ZQLRate}});
            $.ajax({
                url: "{% url 'addFundsToMembersWallet' %}",
                type: "post",
                data: {
                    amount: amount,
                    memberId: memId,
                    entOTP: entOTP,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (resultdata) {
                    var status = resultdata.status;
                    if (parseInt(status) == 1) {
                      //  $("#otpDIV").css("display", "block");
                       // $("#").css("display", "block");
                        /*
                        $("#tblotp").css("display", "block");
                        $("#otptxt").text('Your OTP will expire within 5 minutes.');
                        */
                        alert(resultdata.msg);
                        location.reload();
                        //setTimeout(showresendotp, 300000);
                    }
                    else {
                        /**/
                        //$("#email").val('');
                        //$("#amount").val('');
                        //$("#btnsubmit").text('Proceed');
                        //$("#btnsubmit").removeAttr("disabled");
                        alert(resultdata.msg);

                    }

                },
                error: function (er) {
                    alert("Something went wrong. Please try again later");
                   // $("#btnsubmit").text('Proceed');
                   // $("#btnsubmit").removeAttr("disabled");
                   alert(resultdata.msg);

                }
            });
        }
        else {
            alert("Please enter correct volume");
            $("#amount").val('');
        }

    }




    function showresendotp() {
        debugger;

        var email = $("#email").val();
        $.ajax({
            url: "/member/expiredotpfortopup",
            type: "post",
            data: {
                email: email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (resultdata) {
                var status = resultdata.status;
                if (parseInt(status) == 1) {
                    $("#btnotp").css("display", "none");
                    $("#btrenotp").css("display", "block");
                    $("#otptxt").text('Your OTP is expired');
                    alert(resultdata.message);
                }
                else {
                    alert(resultdata.message);
                    $("#btnsubmit").text('Proceed');
                    $("#btnsubmit").removeAttr("disabled");
                }

            },
            error: function (er) {
                alert("Something went wrong. Please try again later");
                $("#btnsubmit").text('Proceed');
                $("#btnsubmit").removeAttr("disabled");

            }
        });
    }

    function resendotp() {
        debugger;

        var email = $("#email").val();
        $.ajax({
            url: "/member/resendotp",
            type: "post",
            data: {
                email: email
            },
            success: function (resultdata) {
                var status = resultdata.status;
                if (parseInt(status) == 1) {
                    $("#btnotp").css("display", "block");
                    $("#btrenotp").css("display", "none");
                    $("#otptxt").text('Your OTP will expire within 5 minutes.');
                    $("#otp").val('');
                    alert(resultdata.message);
                    setTimeout(showresendotp, 300000);
                }
                else {
                    alert(resultdata.message);
                }

            },
            error: function (er) {
                alert("Something went wrong. Please try again later");
                $("#btnsubmit").text('Proceed');
                $("#btnsubmit").removeAttr("disabled");

            }
        });
    }

    function confirmedotp() {
        var email = $("#email").val();
        var amount = $("#amount").val();
        var volumes = $("#totalamnt").val();
        var otp = $("#otp").val();
        if (parseFloat(amount) <= parseFloat(volumes)) {
            $("#btnsubmit").text('Please wait...');
            $("#btnsubmit").attr("disabled", "disabled");
            $.ajax({
                url: "/member/confirm-topup-otp/",
                type: "post",
                data: {
                    email: email,
                    amount: amount,
                    otp: otp,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (resultdata) {
                    var status = resultdata.status;
                    if (parseInt(status) == 1) {
                        alert(resultdata.message);
                        location.reload();
                    }
                    else {

                        alert(resultdata.message);
                        $("#otp").val('');
                    }

                },
                error: function (er) {
                    alert("Something went wrong. Please try again later");
                    $("#btnsubmit").text('Proceed');
                    $("#btnsubmit").removeAttr("disabled");

                }
            });
        }
        else {
            alert("Please enter correct volume");
        }
    }

    function unblockwithdrawal(memId)  {
        //debugger;
        //var email = $("#email").val();
        
        //console.lo

        console.log('came here');
        console.log(memId);

      

        if (memId!="" ) {

            $("#unbwd").text('Please wait...');
            $("#unbwd").attr("disabled", "disabled");
            console.log('came');
            console.log(memId);

            $.ajax({
                url: "{% url 'unblockMemberWithdrawal' %}",
                type: "post",
                data: {
                    {% comment %} amount: amount, {% endcomment %}
                    memberId: memId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (resultdata) {
                    var status = resultdata.status;
                    if (parseInt(status) == 1) {
                        {% comment %} $("#otpDIV").css("display", "block"); {% endcomment %}
                        {% comment %} $("#sendOTPBtn").css("display", "none"); {% endcomment %}
                        {% comment %} $("#activateMemberIdBtn").css("display", "block"); {% endcomment %}

                        /*
                        $("#tblotp").css("display", "block");
                        $("#otptxt").text('Your OTP will expire within 5 minutes.');
                        */
                        alert(resultdata.msg);
                        location.reload();
                        //setTimeout(showresendotp, 300000);
                    }
                    else {
                        /**/
                        //$("#email").val('');
                        //$("#amount").val('');
                        //$("#btnsubmit").text('Proceed');
                        //$("#btnsubmit").removeAttr("disabled");
                        alert(resultdata.msg);

                    }

                },
                error: function (er) {
                    alert("Something went wrong. Please try again later");
                   // $("#btnsubmit").text('Proceed');
                   // $("#btnsubmit").removeAttr("disabled");
                   alert(resultdata.msg);

                }
            });
        }
        

    }



</script>





{% endblock %}
