{% extends 'zqAdmin/admin/layout/main.html' %} 
{% load customFilters  %}

{% block 'content' %}
    <div class="app-main__outer" >
        <div class="app-main__inner" style="background-color: rgba(255, 255, 255, 0.775);">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                            </i>
                        </div>
                        <div>
                            SET ZAAN RATE
                            {% comment %} <div class="page-title-subheading">YThis .</div> {% endcomment %}
                        </div>
                    </div>
                    <div class="page-title-actions">
                        {% comment %} <button type="button"
                                data-toggle="tooltip"
                                title="Example Tooltip"
                                data-placement="bottom"
                                class="btn-shadow mr-3 btn btn-dark">
                            <i class="fa fa-star"></i>
                        </button> {% endcomment %}
                        <div class="d-inline-block dropdown">
                            {% comment %} <button type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    class="btn-shadow dropdown-toggle btn btn-info">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-business-time fa-w-20"></i>
                                </span>
                                Buttons
                            </button> {% endcomment %}
                            {% comment %} <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <i class="nav-link-icon lnr-inbox"></i>
                                            <span>Inbox</span>
                                            <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <i class="nav-link-icon lnr-book"></i>
                                            <span>Book</span>
                                            <div class="ml-auto badge badge-pill badge-danger">5</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <i class="nav-link-icon lnr-picture"></i>
                                            <span>Picture</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a disabled href="javascript:void(0);" class="nav-link disabled">
                                            <i class="nav-link-icon lnr-file-empty"></i>
                                            <span>File Disabled</span>
                                        </a>
                                    </li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class=" p-5 shadow" >
                {% comment %} <h6 style="font-weight: 600;color: red;text-align: center;">
                    BALANCE : <span style="color: green">&nbsp;{{ totalamount }} (Zaan COIN)/${% mul totalamount   ZQLRate   %}(USDT)</span>
                </h6> {% endcomment %}
                {% comment %} <input type="hidden" id="useremail" value="" /> {% endcomment %}
                <div class="row mt-3">
                
                        <div class="col-md-4 text-center mt-2">
                            <input type="hidden"  value="" id="totalamnt" />
                            {% comment %} <div class="col-md-4 text-center mt-2"> {% endcomment %}
                                <h6 class="mt-4" style="font-weight: 600;">Current ZAAN Value</h6>
                            </div>

                        <div class="col-md-5">
                            <div class="input-group mt-4">
                                <div class="input-group-prepend"></div>
                                <input type="email"
                                id="email"
                                class="form-control"
                                value="{{ZQLRate}}"
                                readonly="readonly"
                                placeholder="enter new rate ">
                                {% comment %} <input placeholder="Enter ZQL Coin"
                                       type="number"
                                       class="form-control"
                                       id="amount"> {% endcomment %}
                            </div>
                        </div>
                        {% comment %} <div class="col-md-5">
                            <div class="input-group mt-4">
                                <div class="input-group-prepend"></div>
                                <input placeholder="Enter Coin" type="number" class="form-control">
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-md-4 text-center mt-2">
                            <h6 class="mt-4" style="font-weight: 600;">Enter New Value</h6>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group mt-4">
                                <div class="input-group-prepend"></div>
                                <input placeholder="enter new rate"
                                       type="number"
                                       class="form-control"
                                       id="amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                         <div class="col-md-2">   
                    <button class="mb-2 mt-5 mr-2 btn-primary text-center  btn-sm btn-block justify-content-center d-flex align-item-center "
                            style=" justify-content: center;"
                            id="btnsubmit"
                            onclick="updateRate()">Distribute ROI</button>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                    {% comment %} <button class="mb-2 mr-2 btn btn-outline-primary btn-lg btn-block" id="btnsubmit" onclick="sendotphere()" style="letter-spacing: 1px; font-size: 15px;">Send OTP</button> {% endcomment %}
                </div>
               {% comment %} <div class="card"> {% endcomment %}

                {% comment %} <div class="card-body" id="tblotp" style="display: none">
                    <div class="row mb-4">
                        <div class="col-sm-2 text-center ml-5 mt-4 ">
                            <h5 class="card-title pt-2">Enter OTP here </h5>
                        </div>
                        <div class="col-sm-6 mt-4">
                
                            <div class="input-group">
                                <input type="text" class="form-control" id="otp" value="" placeholder="Enter OTP">
                                <div class="input-group-append">
                                </div>
                            </div>
                            <br />
                            <span id="otptxt" style="color: red;"></span>
                        </div>
                        <div class="col-sm-3 mt-4 pt-2">
                            <a href="" id="btrenotp" onclick="resendotp()" style="display: none;"><span>Resend OTP</span></a>
                
                        </div>
                
                    </div>
                    <div class="row">
                        <div class="col-md-11 text-center ml-5 mt-4 mb-5 ">
                
                            <button class="mb-2 mr-2 btn btn-outline-primary btn-lg btn-block" id="btnotp" onclick="confirmedotp()" style="letter-spacing: 1px; font-size: 15px;">Proceed</button>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
            </div>
            
            
            </div>

         
            
        </div>
      
    </div>
</div>
</div>
<script>


    function updateRate() {
        //debugger;
        //var email = $("#email").val();
        var amount = $("#amount").val();
        //var volumes = $("#totalamnt").val();
        //var useremail = $("#useremail").val();

        if (parseFloat(amount) > parseFloat(0)) {
            $("#btnsubmit").text('Please wait...');
            $("#btnsubmit").attr("disabled", "disabled");
            $.ajax({
                url: "/zqadmin/set-coin-rate/",
                type: "post",
                data: {
                    amount: amount,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (resultdata) {
                    var status = resultdata.status;
                    if (parseInt(status) == 1) {
                        /*
                        $("#tbltopup").css("display", "none");
                        $("#tblotp").css("display", "block");
                        $("#otptxt").text('Your OTP will expire within 5 minutes.');
                        */
                        alert(resultdata.message);
                        //setTimeout(showresendotp, 300000);
                    }
                    else {
                        /**/
                        //$("#email").val('');
                        $("#amount").val('');
                        $("#btnsubmit").text('Proceed');
                        $("#btnsubmit").removeAttr("disabled");
                        alert(resultdata.message);

                    }

                },
                error: function (er) {
                    alert("Something went wrong. Please try again later");
                    $("#btnsubmit").text('Proceed');
                    $("#btnsubmit").removeAttr("disabled");

                }
            });
        }
        else {
            alert("Please enter correct volume");
            $("#amount").val('');
        }

    }

    function showresendotp() {
        debugger;

        var email = $("#email").val();
        $.ajax({
            url: "/member/expiredotpfortopup",
            type: "post",
            data: {
                email: email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (resultdata) {
                var status = resultdata.status;
                if (parseInt(status) == 1) {
                    $("#btnotp").css("display", "none");
                    $("#btrenotp").css("display", "block");
                    $("#otptxt").text('Your OTP is expired');
                    alert(resultdata.message);
                }
                else {
                    alert(resultdata.message);
                    $("#btnsubmit").text('Proceed');
                    $("#btnsubmit").removeAttr("disabled");
                }

            },
            error: function (er) {
                alert("Something went wrong. Please try again later");
                $("#btnsubmit").text('Proceed');
                $("#btnsubmit").removeAttr("disabled");

            }
        });
    }

    function resendotp() {
        debugger;

        var email = $("#email").val();
        $.ajax({
            url: "/member/resendotp",
            type: "post",
            data: {
                email: email
            },
            success: function (resultdata) {
                var status = resultdata.status;
                if (parseInt(status) == 1) {
                    $("#btnotp").css("display", "block");
                    $("#btrenotp").css("display", "none");
                    $("#otptxt").text('Your OTP will expire within 5 minutes.');
                    $("#otp").val('');
                    alert(resultdata.message);
                    setTimeout(showresendotp, 300000);
                }
                else {
                    alert(resultdata.message);
                }

            },
            error: function (er) {
                alert("Something went wrong. Please try again later");
                $("#btnsubmit").text('Proceed');
                $("#btnsubmit").removeAttr("disabled");

            }
        });
    }

    function confirmedotp() {
        var email = $("#email").val();
        var amount = $("#amount").val();
        var volumes = $("#totalamnt").val();
        var otp = $("#otp").val();
        if (parseFloat(amount) <= parseFloat(volumes)) {
            $("#btnsubmit").text('Please wait...');
            $("#btnsubmit").attr("disabled", "disabled");
            $.ajax({
                url: "/member/confirm-topup-otp/",
                type: "post",
                data: {
                    email: email,
                    amount: amount,
                    otp: otp,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (resultdata) {
                    var status = resultdata.status;
                    if (parseInt(status) == 1) {
                        alert(resultdata.message);
                        location.reload();
                    }
                    else {

                        alert(resultdata.message);
                        $("#otp").val('');
                    }

                },
                error: function (er) {
                    alert("Something went wrong. Please try again later");
                    $("#btnsubmit").text('Proceed');
                    $("#btnsubmit").removeAttr("disabled");

                }
            });
        }
        else {
            alert("Please enter correct volume");
        }
    }



</script>
{% endblock %}
