{% extends 'zqUsers/member/layout/main.html' %}
{% block 'content' %}
    <div class="app-main__outer">
        <div class="app-main__inner"
             style="background-color: rgba(255, 255, 255, 0.775)">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-graph text-success">
                            </i>
                        </div>
                        <div>
                            Team Level Wise
                            <div class="page-title-subheading"></div>
                        </div>
                    </div>

                   


                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="main- mb-3 ">
                        <div class="">
                            <table class="mb-0 table">
                                

                                {% if members  %}

                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Level</th>
                                        <th>memberid</th>
                                        <th>Joined date</th>
                                        {% comment %} <th></th> {% endcomment %}
                                        {% comment %} <th>Total user</th> {% endcomment %}
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for index,member in members  %}
                                    <tr>
                                        <th scope="row">{{index|add:1}}</th>
                                        <td>{{member.1|add:1}}</td>
                                        <td>{{member.0.memberid}}</td>
                                        <td>{{member.0.date_joined|date:'d-m-y'}}</td>
                                        {% comment %} <td>0</td> {% endcomment %}
                                        {% if member.0.status   %}
                                        <td>
                                            <button class="btn-wide mb-2 mr-2 btn btn-success btngenrate btn-lg  mt-4">Active</button>
                                        </td>
                                        {% else%}

                                        <td>
                                            <button class="btn-wide mb-2 mr-2 btn btn-success btngenrate btn-lg disabled mt-4">Inactive</button>
                                        </td>
                                        {% endif   %}
                                    </tr>

                                    {% endfor   %}
                             
                                </tbody>
                                {% else  %}
                                <div class="text-danger text-center">Sorry no records found</div>
                                {% endif   %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock 'content' %}
