{% load static %}


<!DOCTYPE html>
<html lang="en" xml:lang="en">
 
  <head>
    <meta charset="UTF-8" />
    <!-- Responsive Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- favicon & bookmark -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href=" {% static 'images/bookmark.png' %} "
      type="image/x-icon"
    />

    <!-- Font Family -->
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800"
      rel="stylesheet"
    />
    <!-- Website Title -->
    <title>Zaan Queril</title>
    <!-- Stylesheets Start -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css" />
    {% comment %} <link rel="stylesheet" href="{% static 'style.css'  %}" type="text/css" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Stylesheets End -->
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  
  </head>
 <style>
  .loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #eee;
  font-size: 16px;
  background-color: #ffa332;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
}
.loginBox input[type="submit"]:hover {
  background-color: #ffa332;
  color: #fff;
}

.loginBox a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="text"],
.loginBox input[type="password"] ,
.loginBox input[type="password"] ,
.loginBox input[type="text"] 
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
}

::placeholder
{
  color: rgba(255, 255, 255, 0.5);
}
.loginBox {
 

  width: 420px;
  height: 560px;
  padding: 40px 30px;
  box-sizing: border-box;
 
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 575.98px) { 
  .loginBox{
    width:93%;
  }

 }

 </style>
  <body>
    <!--Main Wrapper Start-->
    <div class="wrapper" id="top">
      <!--Header Start -->
      <header>
        <div class="container">
          <div class="row">
            <div class="col-sm-4 logo">
              <a href="cp-diamond.html" title="Cp diamond"
                >
                <img
                  class="light"
                  src="{% static 'images/CN.png' %}"
                  alt="Cp diamond"
                  style="height: 12vh"
                />

                <img
                  class="dark"
                  src="{% static 'images/CN.png' %}"
                  alt="Cp diamond"
                  style="height: 12vh"
                />
              </a>
            </div>
            <div class="col-sm-8 main-menu">
              <div class="menu-icon" style="margin-top:-39px;">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
              </div>
              <nav class="onepage">
                <ul>
                  <li class="active"><a href="#top">Home</a></li>
                  <li><a href="#about">About ico</a></li>
                  <li><a href="#token">token</a></li>
                  <li><a href="#roadmap">roadmap</a></li>
                  <li><a href="#team">team</a></li>
                  <li><a href="#press">press</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!--Header End-->

      <!-- Content Section Start -->
      <div class="midd-container">
        <!-- Hero Section Start -->
        <div
          class="hero-main diamond-layout white-sec"
          style="background: url({% static 'images/banner-4.jpg' %})"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-6">
                <div class="tab-section">
                    <!-- Nav tabs -->
                    <div class="hero-btns">
                    <ul class="nav nav-tabs text-uppercase" role="tablist">
                      <li class="nav-item">
                        <span
                          class="nav-link  text-white " id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true" >Sign in</span>
                      </li>
                     
                      <li class="nav-item">
                         <span class="nav-link text-white " id="guarantees-tab" data-toggle="tab" href="#guarantees" role="tab" aria-controls="guarantees" aria-selected="false" >Sign up</span>
                      </li>
                    </ul>
                  </div>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div
                        class="tab-pane active"
                        id="mission"
                        role="tabpanel"
                        aria-labelledby="mission-tab"
                      >
                      <div class="loginBox">
                      
                        <h5>Log In Here</h5>
                        <form method="POST" action="{% url "login" %}">

                          {% csrf_token  %}
                          <p>Email</p>
                          <input type="email" name="email" placeholder="Enter Email" required>
                          <p>Password</p>
                          <input type="password" name="password" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                          
                          {% if login_error %}

                          {{login_error}}

                          {% endif  %}
                          <input type="submit" name="sign-in" value="Sign In">
                          <a href="{% url 'passwordReset' %}">Forget Password</a>
                        </form>
                      </div>
                      </div>
                   
                      <div
                        class="tab-pane"
                        id="guarantees"
                        role="tabpanel"
                        aria-labelledby="guarantees-tab"
                      >
                      <div class="loginBox">
                      
                     
                        <form method="POST" action="">
                         {% csrf_token %} 
                          
                          <p>User Name</p>
                          <input type="name" name="username" placeholder="Enter username" required>
                          {% for error in form.username.errors %}
                          <small class="form-text text-danger">{{ error }}</small>
                          {% endfor %}
                          <p>Email</p>
                          <input type="email" name="email" placeholder="Enter Email" required>
                          <p>Introducer id</p>
                          <input type="text" name="introducerid" placeholder="Enter Introducer id" >

                          {% for error in form.email.errors %}
                          <small class="form-text text-danger">{{ error }}</small>
                          {% endfor %}
                          <p>Password</p>
                          <input type="password" name="password1" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

                          {% for error in form.password1.errors %}
                          <small class="form-text text-danger">{{ error }}</small>
                          {% endfor %}
                          <p> Confirm Password</p>
                          <input type="password" name="password2" placeholder="Enter Confirm password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                          <input type="submit" name="submit" value="Register">

                          {% for error in form.password2.errors %}
                          <small class="form-text text-danger">{{ error }}</small>
                          {% endfor %}

                         
                        </form>
                      </div>
                      </div>
                    </div>
                  </div>
              






              </div>
              <div class="col-sm-12 col-md-6" data-wow-delay="0.5s">
                <div class="diamond-animation mobile-hidden">
                  <div class="diamond-grid"></div>
                  <div class="diamond-grid-2"></div>
                  <div class="outer-Orbit">
                    <div class="Orbit">
                      <div class="rotate">
                        <div class="OrbitSquare">
                          <div class="inner">A</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main">
                    <div class="top-coin"><span></span></div>
                    <div class="lines">
                      <span class="l-1"></span>
                      <span class="l-2"></span>
                      <span class="l-3"></span>
                      <span class="l-4"></span>
                      <span class="l-5"></span>
                      <span class="l-6"></span>
                      <span class="l-7"></span>
                      <span class="l-8"></span>
                      <span class="l-9"></span>
                      <span class="l-10"></span>
                      <span class="l-11"></span>
                      <span class="l-12"></span>
                      <span class="l-13"></span>
                      <span class="l-14"></span>
                      <span class="l-15"></span>
                    </div>
                    <div class="inside-bitcoin"></div>
                    <div class="gris2"></div>
                    <div class="square-1"></div>
                  </div>
                  <div class="base"></div>
                </div>
                <div class="mobile-visible text-center">
                  <img src="{% static 'images/diamond-animation-mobile.png' %}" alt="" />
                </div>
                
              </div>
            </div>
          </div>
        </div>
    
      <!-- Content Section End -->
      <div class="clear"></div>
      <!--footer Start-->
      <footer class="diamond-footer">
        <div class="footer-widget-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <div class="footer-logo">
                    <a href="#" title=""
                      ><img src="{% static 'images/logo.png' %}" alt="Cp Diamond"
                    /></a>
                  </div>
                  <div class="contact-info">
                    <ul>
                      <li class="email"><a href="#">hello@coinpool.com</a></li>
                      <li class="phone"><a href="#">+1 800 123 45 67</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-4 widget-area">
                <div class="widget widget-html text-center">
                  <h2 class="widget-title">Stay connected</h2>
                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://facebook.com/"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://telegram.org/"
                          ><i class="fab fa-telegram-plane"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://bitcoin.com/"
                          ><i class="fab fa-btc"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.youtube.com/"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 widget-area">
                <div class="widget widget-html">
                  <h2 class="widget-title">Subscribe</h2>
                  <div class="newsletter">
                    <form method="post">
                      <input
                        type="email"
                        name="Email"
                        placeholder="Your email address"
                      />
                      <button class="btn" name="subscribe">subscribe</button>
                      <label
                        ><input type="radio" name="privacy-policy" />I agree to
                        the <a href="#">Privacy Policy</a>.</label
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <ul class="footer-menu horizontal-menu onepage">
                  <li><a href="#about">About ICO</a></li>
                  <li><a href="#mission">Mission</a></li>
                  <li><a href="#token">Token</a></li>
                  <li><a href="#roadmap">Roadmap</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#press">Media</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <div class="copy-text">
                  © 2022 Coinpool. Design & Developed by
                  <a href="#">SacredThemes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--footer end-->
    </div>
    <!--Main Wrapper End-->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/onpagescroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/chart-function.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/gold-app.js' %}"></script>
    <script type="text/javascript">

      jQuery(document).ready(function () {
        setTimeout(function () {
          jQuery(".diamond-animation").addClass("done");
        }, 6000);
        setTimeout(function () {
          jQuery(".diamond-animation .main").addClass("active");
        }, 1000);
        setTimeout(function () {
          jQuery(".inside-bitcoin").addClass("active");
        }, 3000);
        setTimeout(function () {
          jQuery(".inside-bitcoin").addClass("spincoin");
        }, 5000);
        setTimeout(function () {
          jQuery(".diamond-animation .lines").addClass("active");
        }, 6000);
        setTimeout(function () {
          jQuery(".diamond-animation .top-coin").addClass("active");
        }, 3000);
        setTimeout(function () {
          jQuery(".diamond-animation .outer-Orbit").addClass("active");
        }, 5000);
      });
    </script>
  </body>

  
</html>
