<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="question">Question</label>
        <input type="text" placeholder="Enter question" name='question'> <br>
        <label for="choice1">choice1</label>
        <input type="text" name='choice1'> <br>
        <label for="choice2">choice2</label>
        <input type="text" name='choice2'> <br>
        <label for="choice3">choice3</label>
        <input type="text" name='choice3'> <br>
        <label for="choice4">choice4</label>
        <input type="text" name='choice4'> <br>
        <label for="Corr_choice">Correct choice</label>
        <input type="text" name='Corr_choice'> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>