<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ritcoin Registration</title>
  </head>
  <body>

    <div style="border: 5px solid blue;text-align:center" >
      <h2><span style="font-size:28px;font-weight:900;font-family:fangsong;color:#d92550;">R</span><span style="font-size:28px;font-weight:900;font-family:fangsong;color:blue;" class="shifra">ITCOIN</span>
        </h2>
        <h1>Welcome to Ritcoin</h1>
        <p>Your OTP is: <b>{{OTP}}</b> for registration with Ritcoin. Please don't share with anyone.</p>
        <br>
        <h5>This OTP is valid for 10 minutes. <h4>

        <span>Copyright © 2023 Ritcoin!. All right reserved.<span>
    </div>

    {% comment %} <p>
      Your otp to verify email is: <b><small>{{OTP}}</small></b>
    </p>
    <h1>Hello, {{ recipient_name }}!</h1> {% endcomment %}
    {% comment %}
    <p>This is a test email.</p>
    {% endcomment %}
  </body>
</html>
